html, body {
  margin: 0;
  padding: 0;
  background-color: #141414;
}

h1{
  color:white;
  font-size: 24px;
  font-family: 'Press Start 2P', cursive;
  
}

strong{
  text-shadow: 2px 2px 5px red;
}

canvas {
  display: block;
}
